<div class="postshare">
	<div class="sharecell">
		<div class="fb-like" data-href="http://www.slashdong.org{{page.url}}" data-send="true" data-layout="button_count" data-show-faces="false"></div>
	</div>
	<div class="sharecell">
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.slashdong.org{{page.url}}" data-via="slashdong">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	<div class="sharecell">
		<script type="text/javascript">reddit_url='http://www.slashdong.org{{page.url}}'</script>
		<script type="text/javascript" src="http://www.reddit.com/static/button/button1.js"></script>
	</div>
</div>

